body{
   background-image: radial-gradient(circle at 50.7% 57.95%, #b2f819 0, #94f724 16.67%, #71f530 33.33%, #3cf23c 50%, #00ef49 66.67%, #00eb57 83.33%, #00e866 100%);
     }
   *{
       font-family: 'Montserrat', cursive;
   }
    img{
       display: block;
       margin: auto;
       margin-top: 18px;
       width: 200px;
    }
    form {
       text-align: center;
       margin-top: 30px;
       
    }
    input[type="email"]{
       border: 1px, solid #CCC;
       width: 270px;
       height: 35px;
       padding-left: 10px;
       border-radius: 10px;
    }
       input[type="email"]:hover{
         background-color:#cecece;
         cursor: text;
       }
    
    input[type="password"]{
       border: 1px, solid #CCC;
       width: 270px;
       height: 35px;
       padding-left: 10px;
       margin-top: 10px;
       border-radius: 10px;
    }
    input[type="password"]:hover{
      background-color:#cecece;
      cursor: text;
    }
    input[type="submit"]{
       border: none;
       width: 100px;
       height: 35px;
       margin-top: 20px;
       padding: 10px;
       border-radius: 10px;
       background: #CCC;
       
    }
    input[type="submit"]:hover {
          
          background-color:#1E90FF;
          cursor:pointer;
    }
    h2{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 30px;
       text-align: center;
       margin-top: -29px;
    } 
    h3{
       text-align: center;
       color: red;
       margin-top: 15px;
    }
    h1{
       text-align: center;
       font-size: 50px;
       color: green;
     }
    
    a{
       font-size: 22px;
       color: mediumblue;
       margin-top: 15px;
    }